@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Prize Draws for Meetup events</h2>
        <p>Simple in-browser app for prize draws for <a href="https://meetup.com">meetup</a> events</p>
        <p>Inspired by <a href="https://github.com/dotnetoxford/prizedraw">dotnetoxford/prizedraw</a></p>
    </div>
    <div class="col-md-12">
        <h2>Usage</h2>
        <p>Find an event on meetup, e.g. <a href="https://www.meetup.com/dotnetoxford/events/249057796/">https://www.meetup.com/dotnetoxford/events/249057796/</a></p>
        @{ 
            var exampleUrl = GetFullUrl("/prize-draws/dotnetoxford/events/249057796/");
        }
        <p>Take the URL path (i.e. "/dotnetoxford/events/249057796/") and use that path on this site as: <a href="@exampleUrl">@exampleUrl</a></p>
    </div>
</div>

@functions {
    string GetFullUrl(string path)
    {
        var request = this.ViewContext.HttpContext.Request;
        return $"{request.Scheme}://{request.Host}{path}";
    }
}