@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Prize Draws for Meetup events</h2>
        <p>Simple in-browser app for prize draws for <a href="https://meetup.com">meetup</a> events</p>
        <p>Inspired by <a href="https://github.com/dotnetoxford/prizedraw">dotnetoxford/prizedraw</a></p>
    </div>
    <div class="col-md-12">
        <h2>Usage</h2>
        <p>Find an event on meetup, e.g. <a href="https://www.meetup.com/dotnetoxford/events/249057796/">https://www.meetup.com/dotnetoxford/events/249057796/</a> then enter the url in the textbox below.</p>
        <p>Notes:</p>
        <p>Press space to start the draw (you can do multiple draws - anyone who has already won is excluded from subsequent draws</p>
        <p>Winners are logged in the dev tools console</p>
    </div>
    <div class="col-md-12">
        <form asp-action="Index">
            Enter meetup event URL: <input type="text" size="80" autofocus name="meetupUrl" /><input type="submit" value="Go" />
        </form>
    </div>
</div>

@functions {
    string GetFullUrl(string path)
    {
        var request = this.ViewContext.HttpContext.Request;
        return $"{request.Scheme}://{request.Host}{path}";
    }
}